<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="entity.orderMapper">
	<!-- 方式1开始，在sql中定义 别名 -->
	<select id="selectOrder" parameterType="int"
		resultType="entity.Order">
		select order_id id, order_no orderNo,order_price price from
		orders where
		order_id=#{id}
	</select>
	<!-- 方式1结束 -->


	<!-- 方式2开始 -->
	<select id="selectOrderResultMap" parameterType="int"
		resultMap="orderResultMap">
		select * from orders where order_id=#{id}
	</select>
	<resultMap type="entity.Order" id="orderResultMap">
		<id property="id" column="order_id" />
		<result property="orderNo" column="order_no" />
		<result property="price" column="order_price" />
	</resultMap>
	<!-- 方式2结束 -->

</mapper>